<h4 class="ui dividing header">News</h4>
<div class="field">
    <%= f.label :title, "Title" %>
    <%= f.text_field :title, size: 50, :required=>true %>
</div>
<div class="field">
    <%= f.label :content, "Content" %>
    <%= f.text_area :content, size: "40x15", :required=>true %>
</div>