<table>
    <tbody>
        <tr>
            <td><%= f.label :title, "Title" %></td>
            <td><%= f.text_field :title, size: 50 %></td>
        </tr>
        
        <tr>
            <td><%= f.label :content, "Content" %></td>
            <td><%= f.text_area :content, size: "40x15" %></td>
        </tr>
    </tbody>
</table>