@import "semantic-ui";
body{
    background-color: #eeeeee;
}

thead{
    font-weight: bold;
    background-color: #666666;
    color: #ffffff;
}

.display_hidden{
    display: none;
}

.primaryText{
	opacity: 0.87;
}
.secondaryText{
	opacity: 0.54;
}
.hintText{
	opacity: 0.26;
}
.invertedPrimaryText{
	opacity: 1.0;
}
.invertedSecondaryText{
	opacity: 0.7;
}
.invertedHintText{
	opacity: 0.3;
}