@import "semantic-ui";

body{
    background-color: #eeeeee;
}

thead{
    font-weight: bold;
    background-color: #666666;
    color: #ffffff;
}
/*#content{
    padding-top:3%;
}*/
.display_hidden{
    display: none;
}