@import "semantic-ui";

body{
    background-color: #eeeeee;
}

thead{
    font-weight: bold;
    background-color: #666666;
    color: #ffffff;
}
nav{
    position:fixed;
    z-index:10;
    width:100%;
}